/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* Body Styling */
body {
    background: linear-gradient(to right, #667eea, #764ba2);
    padding: 40px;
    color: white;
}

/* Tag Selector */
h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
}

/* Class Selector */
.card {
    background: white;
    color: #333;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* Hover Effect */
.card:hover {
    transform: scale(1.05);
}

/* Multiple Class Selector */
.highlight {
    border-left: 6px solid #667eea;
}

/* ID Selector */
#special {
    background: #222;
    padding: 25px;
    margin: 20px auto;
    width: 60%;
    border-radius: 15px;
    text-align: center;
    border: 2px solid white;
}