h3{
    color:red;
    font-size: 30px;
    text-decoration: overline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.blog{
    margin: 20px;
    border: 10px solid tomato;
    box-shadow: 10px 10px 10px blue ;
}
.second{
   /* display: none;*/
   /*visibility: hidden;*/
}
.ispum{
    border: 5px solid orange;
    display: block;
    margin: 10px;
}
li{
    display: inline;
}